name: CI

on: 
  push:
    branchs: [master]
  pull_request:
    branchs: [master]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: pnpm/action-setup@v2
      - name: Run Test
        run: pnpm test